<!DOCTYPE html>
<head>
  <title>Dino Park</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
</head>
<body>
  <div class="container">
    <h1>Dino Park</h1>
    <hr>
    <p>Welcome to Dino Park! Your virtual playground of your favorite dinosaurs!</p>
  </div>
</body>